@import '../color.scss';

.miniCard3col {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 33% 1fr;
  border: none;
  background-color: $colorFormBac;

  span {
    margin-top: 8px;
    margin-left: 8px;
    width: 100%;
    height: 100%;
    border: none;
  }
}
