.gridWindow {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 33%;
  left: 33%;
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar content';
  border: 3px solid rgb(12, 126, 149);
  grid-template-rows: 30px 1fr;
  background-color: rgb(14, 70, 108);
}

.gridHeader {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-area: header;
  background-color: rgb(12, 126, 149);
  button {
    border: none;
    margin: 3px;
    padding-bottom: 4px;
  }
}

.gridContent {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
  border: 5px solid rgb(14, 70, 108);
  grid-area: content;
  align-self: start;
}
