$colorBody: rgb(170, 202, 230);
$colorFormBac: #eef2f4;
$colorButtonBac: #006f9f;
$colorButtonBacHover: #003952;
$colorButtonTextHover: #ffcc00;
$colorButtonText: #fff;
$colorshadow: 2px 2px 3px #837b7b;
$required: rgb(243, 231, 231);
$requiredBorder: rgb(251, 0, 0);
