$colorBody: #316262;
$colorFormBac: #708a9f;
$colorButtonBac: #048bfe;
$colorButtonBacHover: #09386f;
$colorButtonTextHover: #ffea00;
$colorButtonText: #fff;
$colorshadow: 2px 2px 3px #f5f9fb;
$required: rgb(240, 191, 191);
$requiredBorder: rgb(15, 66, 74);
