@import '../../../styles/modules/container.scss';
@import '../../../styles/modules/button.scss';
@import '../../../styles/modules/color.scss';

$widthForm: 98%;
$heightForm: 310px;
$widthForm12: 50%;
$heightForm12: 100%;
$widthGroup: 100%;
$heightGroup: 20%;

$Form12Color: #eef2f4;
$box-shadow: 3px 3px 6px #333333;

.form {
  position: relative;
  padding: 10px;
  left: 10px;
  width: $widthForm;
  height: $heightForm;
  box-shadow: $box-shadow;
}

.form1 {
  background-color: $Form12Color;
  position: absolute;
  width: $widthForm12;
  height: $heightForm12;
  top: 0;
  bottom: 0;
  left: 0;
}
.form2 {
  background-color: $Form12Color;
  position: absolute;
  width: $widthForm12;
  height: $heightForm12;
  top: 0;
  bottom: 0;
  right: 0;
}
.group {
  width: $widthGroup;
  height: $heightGroup;
  position: relative;

  .buttonGroup {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    .hide {
      display: none;
    }
    .show {
      width: 110%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 20px;
    }
    .GroupChildren {
      width: 400%;
      height: 100%;
      position: absolute;
      left: -500%;
    }
    .GroupChildrenButton {
      position: absolute;
      right: -55%;
      top: 0;
    }
  }

  .labelLeft {
    height: 80%;
    position: absolute;
    top: 23%;
    left: 3%;
  }
  label {
    font-size: 20px;
    color: #5a627b;
  }

  .inputRight {
    width: 70%;
    height: 60%;
    position: absolute;
    top: 20%;
    right: 3%;
  }

  input {
    width: 100%;
    text-align: left;
    height: 100%;
    border-radius: 3px;
    border: none;
    box-shadow: $box-shadow;
  }

  input:hover {
    transition: all 0.4s;
    height: 35px;
    font-size: 20px;
    border: 1px solid $colorButtonTextHover;
  }
  input:focus {
    transition: all 0.4s;
    height: 40px;
    font-size: 20px;
    border: 3px solid $colorButtonTextHover;
    transform: translate(5px);
  }

  .textarea {
    text-align: left;
    height: 150%;
    width: 100%;
    border-radius: 3px;
    border: none;
    box-shadow: $box-shadow;
  }
  .textarea:hover {
    transition: all 0.4s;

    border: 1px solid $colorButtonTextHover;
  }
  textarea:focus {
    transition: all 0.4s;
    height: 160%;
    font-size: 16px;
    border: 2px solid $colorButtonTextHover;
    transform: translate(5px);
  }
}
.center {
  text-align: center;
  padding: 5px;
}
.red {
  background-color: $required;
}
.select {
  width: 80%;
  height: 100%;
  border: none;
  box-shadow: $box-shadow;
  background-color: $required;
}
